body{
    background-color:rgb(36, 36, 36);
}



.logoutbox{
position: absolute;
margin-top:60px;   
margin-left: 52px;




}


.logoutButton{
   
    color: aliceblue;
    background-color: black;
    border: black 2px solid;
    height: 40px;
    width: 80px;
}

#infoAccount h2{
    
    margin-top: 20px;
    margin-left: 10px;
    border: wheat 1px solid;
    border-radius: 10px;
    width: 160px;
    padding-top: 15px;
    text-align: center;
    color: wheat;
    font-size: 14px;
    font-weight: bold;
    height:50px;


}
p{
    text-align: center;
    font-size: 12px;   
    color: aliceblue;
}
li{
  
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    list-style-type: none;
}
a{
    color: wheat;
}

