.history1{
    margin-left: 50px;
    margin-top: 290px;
    padding:1px;
    position:absolute;
}
.history2{
    margin-left: 50px;
    margin-top: 350px;
    padding:1px;
    position:absolute;
}
.history3{
    margin-left: 50px;
    margin-top: 420px;
    padding:1px;
    position:absolute;
}


li{
    padding-bottom:20px;
    list-style-type: none;
}

.table-d{
    position: absolute;
    top: 180px;
    margin-left: 300px;
  
    border: 1px solid #000000;
    width:800px ;
   
    
}
.table-d .td1{
    color: rgb(255, 255, 255);
    background-color: rgb(73, 73, 73);
}
.table-d td{
   
    background-color: white;
    border: 1px black solid;
}

.abox{
    padding: 10px;
    background-color: rgb(207, 217, 226);
    color: black;
    padding-bottom:10pxpx;
    border-radius: 20px;
    width: 100;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}



h4{
    text-align:center;
    color:white;
            margin-top:20px;
            font-size:30px;
            letter-spacing: -.15ch;
            line-height: .75;

}
