h1 {
    padding: 200px;
    width: 100%; 
    margin: 0 auto;

    font-weight: bold;
    font-size: 120px;
    color:  rgb(163, 0, 0) !important;
    text-shadow: 2px 2px 2px rgb(0, 0, 0); 
}
.messageExpired{
    font-size: 14px;
    width: 300px;
    margin-left: 1030px;
    margin-top: 100px;
    position: absolute;
   
} 

.orderD{ 
    display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

.orderD th{
    padding: 10px;
    color: white;
    background-color: rgb(67, 67, 67);
}
.orderD td{
    padding: 10px;
    background-color: white;
}
caption {
    font-size: 20px;
    color: rgb(59, 59, 59);
    caption-side: top;
    text-align: left;
    padding-bottom: 10px;
    font-weight: bold;
  }