.inventory-list{
 margin:0% auto;
 display: flex;
 
}


.tertiary{

    background-color: rgb(163, 0, 0);
    padding-top:20%;
    padding: 8%;
    border: 4px solid #b7c7009e; /* Adds a solid border with 2px thickness and black color */
    box-sizing: border-box; 
    border-radius:80px; 
    margin: 50px;
        white-space: nowrap; /* Prevents text from wrapping */
        text-overflow: ellipsis; /* Adds ellipsis (...) for overflowed text */

    white-space: nowrap; /* Prevents text from wrapping */

}
.tertiary a{
    text-decoration: none; 
    color: rgb(187, 170, 170) !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    border: 0px solid #000; /* Adds a solid border with 2px thickness and black color */
    box-sizing: border-box; 
    border-radius: 60px; 
    padding: 20px;
    margin-top: 20px;
    font-weight: 790;
    -webkit-box-align: center;
}
.tertiary li{
    
    
    padding-bottom: 50px;
    list-style-type: none;
 }
