.container{

    justify-content: center;
    display: flex;
    padding:10px;
    
    

}
.box{
    width: 280px;
    border: 1px black solid;
    height: 330px;
    overflow: scroll;
    padding: 20px;
    background-color: #f2f2f2;
}


h1{ text-align:center ;
    font-size: 30px;
    border: black solid 1px;
    cursor: pointer;
    background-color:rgb(112, 127, 0) !important;
    color:white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    box-sizing: border-box; 
    font-weight: 890;
    -webkit-box-align: center;
}



 th, td {
    
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    background-color: #f2f2f2;

}

footer {
    
    position: sticky;
    bottom: 0;
    display: flex;
   justify-content: space-between;
    

}
button{
    padding: 20px;
    color: white;
    background-color: black;
}
#history {
    margin-left: 50px;
    margin-top: 200px;
    position:absolute;
    width: 200px;

}
#history .td1{
    background-color:rgb(112, 127, 0) !important;
    color: #f2f2f2;
    font-weight: bold;
}
#productsLeft {
    margin-left: 50px;
    margin-top: 100px;
    position:absolute;
    width: 700px;
    background-color: #f2f2f2;
}
#productsLeft caption{
    color: black;
    caption-side:top;
    font-size: 30px;
    font-weight: bold;
}
#productsLeft .td1{
    background-color:rgb(112, 127, 0) !important;
    color: #f2f2f2;
    font-weight: bold;
}



#box-get{

    margin-left: 800px;
    background-color: #d0d0d0;
    margin-top: 150px;
    position:absolute;
    width: 500px;}

#box-get .td1{
    width: 0% auto;
    background-color:rgb(69, 69, 69) !important;
    color: #ffffff;
    font-weight: bold;
}
#box-get caption{
    color: black;
    caption-side:top;
    font-size: 20px;

 
}

#box-get2{

    margin-left: 800px;
    background-color: #d0d0d0;
    margin-top: 150px;
    position:absolute;
    width:200px;
    }

#box-get2 .td1{
    background-color:rgb(69, 69, 69) !important;
    color: #f6f6f6;
    font-weight: bold;
    
}
#box-get2 caption{
    color: black;
    caption-side:top;
    font-size: 20px;
}
 
h2{
    color: beige;

}

