.inventory-list{
 margin:0% auto;
 display: flex;
 
}


.tertiary{


    margin-top: 40px;
    padding: 2%;
    border: black;
    box-sizing: border-box; 
    border-radius:10px; 
    white-space: nowrap; 
    text-overflow: ellipsis;
    white-space: nowrap;

}
.tertiary a{
    
    text-decoration: none; 
    color: rgb(187, 170, 170) !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    
    box-sizing: border-box; 
    border-radius: 60px; 
    padding: 20px;
    
    font-weight: 890;
    -webkit-box-align: center;
}
.tertiary li{
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(163, 0, 0);
    padding: 22px;
    list-style-type: none;
 }
 .bottom-buttons {
    position: fixed;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

#receiving-btn {
    position: absolute;
    left: 20px;
}

#movingout-btn {
    position: absolute;
    right: 20px;
}

