body {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    background: url('bg.jpeg') center center;
    
    background-size: cover; 
    min-height: 200vh; 
    
}




body{
        height: auto;    
}

.footer {
        color:inherit;
        position: absolute;
        bottom: 0;
        width: 100%;
        white-space: nowrap;
  }



.top-icon {
    width: 100px;
}

nav {
    
    background-color: rgb(163, 0, 0) !important;
    border: 2px solid rgb(160, 160, 0) !important;
  

}

label.logo {
    font-size: larger;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
    font-weight: 1000;
    color:  rgb(163, 0, 0) !important;
    text-shadow: 2px 2px 2px rgb(0, 0, 0); /* Adjust the values for desired effect */
    line-height: 80px;
    padding: 0 50px;
    cursor: pointer;
}

nav ul{
    width: max content 1px;
    white-space: normal;
    text-align: center;
    word-break: break-all;
    float: right;
    margin-top: 30px;
    
}


nav ul li {
    
    
    display: inline-block;
    
    
}

nav ul li a {
    
    color: rgb(186, 182, 182) !important;
    font-size: 12px;
    padding: 7px 17px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
}

a.active, a:hover {
    
    background:rgba(197, 219, 0, 0.741);
    transition: .5s;
}



#check {
    display: none;
}



p footer{
    color: black;
}

