.container{
    margin: 0% auto;
    width: 350px;
    background-color:  rgb(163, 0, 0) !important;
    border: 5px solid rgb(172, 147, 0) !important;
}





#alert{
    
    font-size: 13px;
    margin: 0% auto;
    
    width: 360px;
    
}
