.container{
  
    margin: 0% auto;
    width: 350px;
    background-color:  rgb(163, 0, 0) !important;
    border: 5px solid rgb(172, 147, 0) !important;
}


.form-group{
  margin: 0% auto;
  padding: 10px;
  width: 200px;
}

#loginbtn{
  margin-left: 55px;
}

#alert{
    
    font-size: 13px;
    margin: 0% auto;
    
    width: 360px;
    
}
#manager_icon {
    margin-left: 200px;
   margin-top: 200px;
    position: absolute;
  
  }
#manager_icon a{
  padding: 20px;
  background-color: rgb(115, 115, 115);
  border-radius: 100px;
  }

#crew_icon {
    margin-left: 200px;
   margin-top: 200px;
    position: absolute;
  
  }
#crew_icon a{
  padding: 20px;
  background-color: rgb(108, 102, 102);
  border-radius: 100px;
  }


