.container{
    margin: 0% auto;
    width: 350px;
    background: rgba(233, 233, 233, 0.881);
    border-radius: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.313);
}
.container .form-control{

    margin-left: 25px;
    font-weight: bold;
    font-size: 0.9rem;
    background: rgba(233, 233, 233, 0);
    width: 280px;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.313);
}
input::placeholder {
  font-size: 14px;
  font-weight: bold;
}
.container1 .form-control{
    
  margin-left: 35px;
  font-weight: bold;
  font-size: 0.9rem;
  background: rgba(233, 233, 233, 0);
  width: 280px;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.313);
}

.btn{
  
  width: 280px;
  font-weight: 400;
  color: white;
  background-color: rgba(171, 0, 0, 0.908) !important;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.752);
  margin-bottom: 50px;
  margin-left: 25px;
  
  
}
.container1{
  margin: 0% auto;
    width: 350px;
    background: rgba(233, 233, 233, 0.881);
    border-radius: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.313);
}
.container2{
  margin: 0% auto;
  width: 350px;
  background-color:  rgba(255, 255, 255, 0.897) !important;
  border: 2px solid rgb(124, 124, 124) !important;
  border-radius: 50px;
}
.input1{
  margin-left: 25px;
  
  font-weight: bold;
  font-size: 0.9rem;
  background: rgb(233, 233, 233);
  width: 280px;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.313);
}


.form-group2{
  padding: 10px;
  width: 200px;
  
}
.form-group{
  padding: 10px;
  width: 200px;
  margin: 0% auto;
}



#alert{
    
    font-size: 13px;
    margin: 0% auto;
    width: 360px;
    
}
#manager_icon {
    margin-left: 200px;
   margin-top: 200px;
    position: absolute;
  
  }
#manager_icon a{
  padding: 20px;
  background-color: rgb(115, 115, 115);
  border-radius: 100px;
  }

#crew_icon {
    margin-left: 200px;
   margin-top: 200px;
    position: absolute;
  
  }
#crew_icon a{
  padding: 20px;
  background-color: rgb(108, 102, 102);
  border-radius: 100px;
  }

  
.usertable{
 
  position: absolute;
  margin-top: 130px;
  margin-left: 890px;
}
.usertable td{
  background-color: white;
  border: 1px black solid;
}
.usertable th{
  background-color: slategray;
  color: aliceblue;
  border: 1px black solid;

}
#remove_{
  border  : 1px;
}

